In [1]:
import pandas as pd

In [2]:
# Import HSA21 genes
HSA21genesDataframe = pd.read_csv("./一Network Visualization/data/HSA21_genes_biomaRt_conversion.csv")
HSA21genes = [x for x in HSA21genesDataframe["hgnc_symbol"] if str(x) != 'nan']

In [3]:
# Import Neuro Development Disease genes
neuroDDdf = pd.read_csv('./一Network Visualization/data/NDDgenes.csv')
neuroDDdf = neuroDDdf[neuroDDdf["High Confidence NDD genes"] == True]
neuroDD = neuroDDdf["Symbol"].tolist()

# Import NeuroDevelopmental Genes
neuroDevGenesDF = pd.read_csv('./一Network Visualization/data/NervousSystemDevelopmentGO.tsv', sep='\t')
neuroDevGenes = neuroDevGenesDF["Gene"].tolist()

allNeuroDevGenes = neuroDD + neuroDevGenes

In [4]:
regulatedGenes = pd.read_csv("./一Expression Heatmaps/geneExpressionData/Log2FoldAllGenes.csv")
regulatedGenes.rename(columns={"Unnamed: 0": "Genes"}, inplace=True)
regulatedGenes = regulatedGenes.set_index('Genes')
upDownRegulated = regulatedGenes['Mean'].to_dict()

## Significant Genes - padj < 0.05

In [5]:
significantGenes = list(pd.read_csv("./significantGenes/significantGenes-padj<0.05.csv")["x"])
print(f"Len Significant Genes: {len(significantGenes)}")

Len Significant Genes: 355

In [6]:
geneNames = []
geneExpression = []
for gene in significantGenes:
    geneNames.append(gene)
    try:
        geneExpression.append(upDownRegulated[gene])
    except:
        geneExpression.append("0")

In [7]:
df005 = pd.DataFrame(
    {'name': geneNames,
     'avgExpression': geneExpression
    })

In [8]:
pd.set_option('display.max_rows', 150)
df005 = df005.sort_values(by='avgExpression', ascending=False)
dfUp005 = df005[df005["avgExpression"] < 0]
dfDown005 = df005[df005["avgExpression"] > 0]

In [9]:
df005

           name  avgExpression
90       CHCHD2       9.270805
63       ZNF558       6.606792
340  AP000936.1       4.326541
91         LHX1       3.505530
92     LHX5-AS1       3.327232
..          ...            ...
290  AC012645.1      -2.597034
354      GATD3A      -3.382115
353  AL162493.1      -5.923922
352   LINC02506      -9.125031
289         UTY     -18.018241

[355 rows x 2 columns]

In [10]:
len(df005)

355

In [11]:
len(dfUp005)

218

In [12]:
len(dfDown005)

137

In [13]:
# Export to csv
df005.to_csv("./significantGenes/significantGenes-padj<0.05Expression.csv")

## Non-Significant Genes (padj < 0.1)

In [14]:
significantGenes = list(pd.read_csv("./significantGenes/significantGenes-padj<0.1.csv")["x"])
print(f"Len Significant Genes: {len(significantGenes)}")

Len Significant Genes: 546

In [15]:
geneNames = []
geneExpression = []
for gene in significantGenes:
    geneNames.append(gene)
    try:
        geneExpression.append(upDownRegulated[gene])
    except:
        geneExpression.append("0")

In [16]:
df01 = pd.DataFrame(
    {'name': geneNames,
     'avgExpression': geneExpression
    })

In [17]:
pd.set_option('display.max_rows', 150)
df01 = df01.sort_values(by='avgExpression', ascending=False)
dfUp01 = df01[df01["avgExpression"] < 0]
dfDown01 = df01[df01["avgExpression"] > 0]

In [18]:
df01

            name  avgExpression
537       CHCHD2       9.270805
470       ZNF558       6.606792
36    AP000936.1       4.326541
538         LHX1       3.505530
540     LHX5-AS1       3.327232
..           ...            ...
1     AC093898.1      -3.752792
5    NECTIN3-AS1      -4.065315
7     AL162493.1      -5.923922
6      LINC02506      -9.125031
4            UTY     -18.018241

[546 rows x 2 columns]

In [19]:
len(df01)

546

In [20]:
len(dfUp01)

331

In [21]:
len(dfDown01)

215

In [23]:
# Export to csv
df01.to_csv("./significantGenes/significantGenes-padj<0.1Expression.csv")