In [1]:
import pandas as pd

In [2]:
####################################################################
# Import network
####################################################################

networkDS = pd.read_csv('./data/adjDatasetFullGenes.tsv', sep='\t')
networkDS

             TF      target    importance
0        GABPB1       CELF4  6.547258e+02
1         PROX2       OLFM2  6.460504e+02
2        ZNF114       AUTS2  4.438435e+02
3           EZR  AC091885.2  4.315512e+02
4          RFX4  AC079385.1  4.042899e+02
...         ...         ...           ...
9371171   GTF2I       MATN1  1.733625e-20
9371172    MYCN  AC010996.1  1.732024e-20
9371173  ZNF625    SERPINB9  1.512847e-20
9371174    RFX7        CTC1  1.236607e-20
9371175    NONO       MATN1  3.261037e-21

[9371176 rows x 3 columns]

In [3]:
####################################################################
# Import lists of genes
####################################################################

# Import HSA21 genes
HSA21genesDataframe = pd.read_csv("./data/HSA21_genes_biomaRt_conversion.csv")
HSA21genes = [x for x in HSA21genesDataframe["hgnc_symbol"] if str(x) != 'nan']
len(HSA21genes)

225

In [4]:
# Import more HSA21 genes
HSA21genesDataframeFull = pd.read_csv("./data/fullHSA21genes.csv")
HSA21genesFull = [x for x in HSA21genesDataframeFull["hgnc_symbol"] if str(x) != 'nan']

count = 0
for geneA in HSA21genes:
    if geneA in HSA21genesFull:
        count += 1
    else:
        HSA21genesFull.append(geneA)
HSA21genes = HSA21genesFull
len(HSA21genes)

259

In [5]:
# Import Transcription Factors
TFsList = open("./data/TFs.txt", "r").read().split("\n")
len(TFsList)

1840

In [11]:
# Create list for TFs that also are HSA21 genes
HSA21_TFs = []
for gene in HSA21genes:
    if gene in TFsList:
        HSA21_TFs.append(gene)
len(HSA21_TFs)

16

In [9]:
HSA21Regulators = [
    "ZNF294", "LTN1", "RNF160", 
    "ZNF295", "ZBTB21", "KIAA1227",
    "Pred65", "ZNF355P", "PRED65", 
    "ZNF298", "PRDM15", 
    "APECED", 
    "KIAA0136", "MORC3", "ZCWCC3", "NXP2",
    "GCFC", "PAXBP1", "GCFC1",
    "SON", "NREBP", "BASS1",
    "PKNOX1", "PREP1", 
    "HSF2BP", "MEILB2", "POF19",
    "NRIP1", "RIP140", "NRIP1"
]

HSA21_TFs += HSA21Regulators
HSA21_TFs

['PRDM15',
 'SOD1',
 'GABPA',
 'BACH1',
 'ERG',
 'ETS2',
 'RUNX1',
 'SIM2',
 'HLCS',
 'TFF3',
 'PKNOX1',
 'U2AF1',
 'AIRE',
 'OLIG1',
 'ADARB1',
 'OLIG2',
 'ZNF294',
 'LTN1',
 'RNF160',
 'ZNF295',
 'ZBTB21',
 'KIAA1227',
 'Pred65',
 'ZNF355P',
 'PRED65',
 'ZNF298',
 'PRDM15',
 'APECED',
 'KIAA0136',
 'MORC3',
 'ZCWCC3',
 'NXP2',
 'GCFC',
 'PAXBP1',
 'GCFC1',
 'SON',
 'NREBP',
 'BASS1',
 'PKNOX1',
 'PREP1',
 'HSF2BP',
 'MEILB2',
 'POF19',
 'NRIP1',
 'RIP140',
 'NRIP1']

In [10]:
newHSA21TFs = []

for gene in HSA21_TFs:
    if gene in TFsList:
        newHSA21TFs.append(gene)
HSA21_TFs = newHSA21TFs
len(HSA21_TFs)

19

In [7]:
# Import Neuro Development Disease genes
neuroDDdf = pd.read_csv('./data/NDDgenes.csv')
neuroDDdf = neuroDDdf[neuroDDdf["High Confidence NDD genes"] == True]
neuroDD = neuroDDdf["Symbol"].tolist()
len(neuroDD)

1586

In [8]:
# Import NeuroDevelopmental Genes
neuroDevGenesDF = pd.read_csv('./data/NervousSystemDevelopmentGO.tsv', sep='\t')
neuroDevGenes = neuroDevGenesDF["Gene"].tolist()
len(neuroDevGenes)
# Select only relevant GO Terms
# In this case I have decided to include all genes

4815

In [9]:
regulatedGenes = pd.read_csv("../一Expression Heatmaps/geneExpressionData/Log2FoldAllGenes.csv")
regulatedGenes.rename(columns={"Unnamed: 0": "Genes"}, inplace=True)
regulatedGenes = regulatedGenes.set_index('Genes')
upDownRegulated = regulatedGenes['Mean'].to_dict()
regulatedGenes

,res_list.IN_2.log2FoldChange,res_list.IN_1.log2FoldChange,res_list.IN.log2FoldChange,res_list.nIN_1.log2FoldChange,res_list.nIN.log2FoldChange,res_list.nEN_1.log2FoldChange,res_list.nEN.log2FoldChange,res_list.IPC.log2FoldChange,res_list.MGE.log2FoldChange,res_list.RG.log2FoldChange,Mean
Genes,,,,,,,,,,,
LINC01409,-0.101252,0.695545,0.139745,-0.928584,0.736779,-0.473701,-0.149005,-0.012966,-0.088238,0.034230,-0.014745
LINC01128,-0.230272,0.435612,-0.407464,-0.596955,0.557174,-0.871523,-0.540827,0.621529,0.109402,-0.026946,-0.095027
AL645608.6,-1.139228,-0.028647,-0.828229,-0.625288,0.134208,-0.847499,-0.588578,-0.201181,0.961013,0.249055,-0.291437
SAMD11,0.058968,0.002499,0.044262,-0.059174,0.276335,-1.569719,0.502076,0.219929,-1.293500,1.784577,-0.003375
NOC2L,0.016235,0.081964,0.161858,-0.495216,-0.453892,-0.496962,0.128773,0.159655,0.468818,0.115865,-0.031290
...,...,...,...,...,...,...,...,...,...,...,...
MT-CYB,-0.186749,0.205875,-0.115020,-0.277503,0.178506,-0.303041,0.177526,0.014134,-0.040743,0.032976,-0.031404
AC011043.1,0.948745,0.288975,-0.653369,-0.918636,0.030678,-0.388364,-0.167260,0.111671,-0.395550,-0.024148,-0.116726
AL592183.1,3.770575,3.541074,24.360108,15.562420,3.563629,3.598365,24.474540,21.409720,3.377673,4.366055,10.802416
AC240274.1,0.031538,-0.347935,-0.547252,-0.560590,0.092051,-0.297852,-0.612832,-0.408393,-0.491793,-0.495976,-0.363903
AC004556.3,-0.764642,-0.316303,-1.935019,-0.569414,-0.228869,0.826729,-0.946041,-0.838939,-0.271656,-0.488861,-0.553301

In [10]:
####################################################################
# Map list of genes on networkDS
####################################################################

# Filter network at 50 importance
networkDS = networkDS[networkDS["importance"]>50]

# Type of lists
# HSA21genes TFsList HSA21_TFs neuroDD neuroDevGenes
listDict = {
    "GeneralTF": TFsList,
    "NeuroDev": neuroDevGenes,
    "NeuroDisease": neuroDD,
    "HSA21gene": HSA21genes,
    "HSA21TF": HSA21_TFs,
}
networkDS

           TF      target  importance
0      GABPB1       CELF4  654.725767
1       PROX2       OLFM2  646.050355
2      ZNF114       AUTS2  443.843549
3         EZR  AC091885.2  431.551171
4        RFX4  AC079385.1  404.289890
...       ...         ...         ...
2020    FOXK2    PPARGC1B   83.229989
2021    CELF4       PTPRO   83.217277
2022  HNRNPA1       RPL34   83.210962
2023   RBFOX2       STMN4   83.210936
2024     SOX4        NSG1   83.201163

[2025 rows x 3 columns]

In [11]:
keyRegulators = {}

listOfTFs = networkDS["TF"].tolist()

for gene in listOfTFs:
    countGene = listOfTFs.count(gene)
    keyRegulators[gene] = countGene

In [12]:
keyRegulatorsDataFrame = pd.DataFrame(keyRegulators.items(), columns=['Gene', 'RegulatedGenes'])
keyRegulatorsDataFrame = keyRegulatorsDataFrame.sort_values(by=['RegulatedGenes'], ascending=False)
keyRegulatorsDataFrame

       Gene  RegulatedGenes
15     RPL6             159
26    RPS4X             134
25    RPL35             112
10    RPS10             109
92     YBX1              92
..      ...             ...
70   ZNF248               1
130   EOMES               1
192    SPI1               1
68     LHX5               1
266    IRX2               1

[267 rows x 2 columns]

In [13]:
# Filter at above 50 regulated genes
keyRegulatorsAbove30 = keyRegulatorsDataFrame[keyRegulatorsDataFrame["RegulatedGenes"]>5]
keyRegulatorsAbove30

       Gene  RegulatedGenes
15     RPL6             159
26    RPS4X             134
25    RPL35             112
10    RPS10             109
92     YBX1              92
..      ...             ...
53   ZBTB20               6
52      PKM               6
35    ZNF76               6
165    ETV6               6
172   EEF1D               6

[68 rows x 2 columns]

In [14]:
keyRegulatorsAbove30["Gene"].to_list()

['RPL6',
 'RPS4X',
 'RPL35',
 'RPS10',
 'YBX1',
 'HMGB2',
 'HNRNPA1',
 'SOX4',
 'CELF4',
 'CREB5',
 'RBFOX2',
 'ZFHX3',
 'LHX1',
 'GLI3',
 'ENO1',
 'EBF1',
 'PBX3',
 'DLX5',
 'MEIS2',
 'HMGB1',
 'SOX11',
 'SIX3',
 'NFIB',
 'FEZ1',
 'TPI1',
 'NFIA',
 'BCL11B',
 'TRIM33',
 'CCDC25',
 'MEIS1',
 'ZIC1',
 'SRP9',
 'MNX1',
 'TCF12',
 'UQCRB',
 'DLX2',
 'H2AFZ',
 'ZNF362',
 'EZR',
 'NEUROD2',
 'CTCFL',
 'PRDX5',
 'MXD3',
 'SOX5',
 'ZNF93',
 'PPARG',
 'NR2F2',
 'HES6',
 'NR2F1',
 'FOXO1',
 'JUN',
 'RAD21',
 'SREBF2',
 'STAT1',
 'LEF1',
 'DMRT1',
 'ESRRG',
 'NHLH1',
 'HIVEP3',
 'YWHAE',
 'LMX1A',
 'HSPA5',
 'DTL',
 'ZBTB20',
 'PKM',
 'ZNF76',
 'ETV6',
 'EEF1D']

In [15]:
# Filter at above 50 regulated genes
keyRegulatorsAbove50 = keyRegulatorsDataFrame[keyRegulatorsDataFrame["RegulatedGenes"]>50]
keyRegulatorsAbove50

       Gene  RegulatedGenes
15     RPL6             159
26    RPS4X             134
25    RPL35             112
10    RPS10             109
92     YBX1              92
22    HMGB2              76
42  HNRNPA1              66
19     SOX4              66
16    CELF4              63

In [16]:
labellingTable = pd.DataFrame(columns=['name', 'shared name','type','avgExpression'])
labellingTable

Empty DataFrame
Columns: [name, shared name, type, avgExpression]
Index: []

In [17]:
handPickedRegulators = [
    "SOX4",
    "DLX5",
    "DLX6",
    "DLX6-AS1",
    "DLX2",
    "RBFOX2",
    "CELF4",
    "CELF5",
    "EBF1",
    "SIX3",
    "PBX3",
    "HMGB2",
]

In [18]:
genesLabelled = handPickedRegulators + HSA21genes
genesLabelled = list(dict.fromkeys(genesLabelled))
labellingTable["name"] = genesLabelled
labellingTable["shared name"] = genesLabelled
labellingTable

               name     shared name type avgExpression
0              SOX4            SOX4  NaN           NaN
1              DLX5            DLX5  NaN           NaN
2              DLX6            DLX6  NaN           NaN
3          DLX6-AS1        DLX6-AS1  NaN           NaN
4              DLX2            DLX2  NaN           NaN
..              ...             ...  ...           ...
265           H2BS1           H2BS1  NaN           NaN
266  CFAP298-TCP10L  CFAP298-TCP10L  NaN           NaN
267         FAM243B         FAM243B  NaN           NaN
268          GATD3B          GATD3B  NaN           NaN
269     GET1-SH3BGR     GET1-SH3BGR  NaN           NaN

[270 rows x 4 columns]

In [19]:
# Give type to TFs
listOfGenes = labellingTable["name"].tolist()
Gene_Type = []
geneExpression = []

for gene in listOfGenes:
    value = "None"
    for key in listDict:
        if gene in listDict[key]:
            value = key
    Gene_Type.append(value)
    try:
        geneExpression.append(upDownRegulated[gene]*-1)
    except:
        geneExpression.append("Not Known")

labellingTable["type"] =  Gene_Type
labellingTable["avgExpression"] =  geneExpression
labellingTable

               name     shared name          type avgExpression
0              SOX4            SOX4  NeuroDisease      0.213149
1              DLX5            DLX5      NeuroDev      1.159157
2              DLX6            DLX6      NeuroDev      1.219367
3          DLX6-AS1        DLX6-AS1          None      1.015777
4              DLX2            DLX2      NeuroDev      0.899707
..              ...             ...           ...           ...
265           H2BS1           H2BS1     HSA21gene     Not Known
266  CFAP298-TCP10L  CFAP298-TCP10L     HSA21gene     Not Known
267         FAM243B         FAM243B     HSA21gene     Not Known
268          GATD3B          GATD3B     HSA21gene     -0.597662
269     GET1-SH3BGR     GET1-SH3BGR     HSA21gene     Not Known

[270 rows x 4 columns]

In [20]:
labellingTable = labellingTable.set_index('name')
labellingTable

                   shared name          type avgExpression
name
SOX4                      SOX4  NeuroDisease      0.213149
DLX5                      DLX5      NeuroDev      1.159157
DLX6                      DLX6      NeuroDev      1.219367
DLX6-AS1              DLX6-AS1          None      1.015777
DLX2                      DLX2      NeuroDev      0.899707
...                        ...           ...           ...
H2BS1                    H2BS1     HSA21gene     Not Known
CFAP298-TCP10L  CFAP298-TCP10L     HSA21gene     Not Known
FAM243B                FAM243B     HSA21gene     Not Known
GATD3B                  GATD3B     HSA21gene     -0.597662
GET1-SH3BGR        GET1-SH3BGR     HSA21gene     Not Known

[270 rows x 3 columns]

In [21]:
geneNames = list(labellingTable["type"])
geneNewNames = []

for name in geneNames:
    if "HSA21TF" in name:
        geneNewNames.append("HSA21gene")
    elif "NeuroDisease" in name:
        geneNewNames.append("NeuroDev")
    else:
        geneNewNames.append(name)

labellingTable["type"] = geneNewNames

In [22]:
labellingTable

                   shared name       type avgExpression
name
SOX4                      SOX4   NeuroDev      0.213149
DLX5                      DLX5   NeuroDev      1.159157
DLX6                      DLX6   NeuroDev      1.219367
DLX6-AS1              DLX6-AS1       None      1.015777
DLX2                      DLX2   NeuroDev      0.899707
...                        ...        ...           ...
H2BS1                    H2BS1  HSA21gene     Not Known
CFAP298-TCP10L  CFAP298-TCP10L  HSA21gene     Not Known
FAM243B                FAM243B  HSA21gene     Not Known
GATD3B                  GATD3B  HSA21gene     -0.597662
GET1-SH3BGR        GET1-SH3BGR  HSA21gene     Not Known

[270 rows x 3 columns]

In [23]:
fLabellingTable = labellingTable[
    (labellingTable["type"] != "HSA21gene") | (labellingTable["avgExpression"] != "Not Known")
]
fLabellingTable

         shared name       type avgExpression
name
SOX4            SOX4   NeuroDev      0.213149
DLX5            DLX5   NeuroDev      1.159157
DLX6            DLX6   NeuroDev      1.219367
DLX6-AS1    DLX6-AS1       None      1.015777
DLX2            DLX2   NeuroDev      0.899707
...              ...        ...           ...
CFAP298      CFAP298  HSA21gene       0.12464
GATD3A        GATD3A  HSA21gene      3.382115
CFAP410      CFAP410  HSA21gene      0.517928
GET1            GET1  HSA21gene      0.532483
GATD3B        GATD3B  HSA21gene     -0.597662

[125 rows x 3 columns]

In [24]:
fLabellingTable = fLabellingTable[
    (labellingTable["type"] != "HSA21gene") | (abs(fLabellingTable["avgExpression"]) > 0.5)
    ]
fLabellingTable

/var/folders/ts/m7c_798d70q3whk59gstkgz00000gn/T/ipykernel_2590/1280430002.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fLabellingTable = fLabellingTable[

         shared name       type avgExpression
name
SOX4            SOX4   NeuroDev      0.213149
DLX5            DLX5   NeuroDev      1.159157
DLX6            DLX6   NeuroDev      1.219367
DLX6-AS1    DLX6-AS1       None      1.015777
DLX2            DLX2   NeuroDev      0.899707
...              ...        ...           ...
DOP1B          DOP1B  HSA21gene      0.624317
GATD3A        GATD3A  HSA21gene      3.382115
CFAP410      CFAP410  HSA21gene      0.517928
GET1            GET1  HSA21gene      0.532483
GATD3B        GATD3B  HSA21gene     -0.597662

[83 rows x 3 columns]

In [25]:
test = fLabellingTable[fLabellingTable["shared name"] == "C21orf33"]
test

Empty DataFrame
Columns: [shared name, type, avgExpression]
Index: []

In [26]:
output = ""
output = '\n'.join(fLabellingTable["shared name"].to_list())

In [27]:
with open('STRINGgenescustomRegulators.txt', 'w') as f:
    f.write(output)

In [28]:
fLabellingTable.to_csv("labellingTableSTRINGcustomRegulators.csv", index=False)